.movie-card {
  position: relative;
  margin: 2vmin 0;
  width: 96vw;
  font-size: calc(10px + 2.5vmin);
}

.movie-poster {
  width: 350px;
}

.movie-info {
  margin-left: 2vmin;
  width: 100%;
}

.movie-card .movie-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgreen;
  color: darkblue;
  padding: 2vmin;
  position: relative;
  text-align: left;
  top: 0;
  left: 0;
  border-radius: 3vmin;
  border: 1px black solid;
  box-shadow: 0 0 0 darkgray;
  transition: 0.5s top ease-in-out, 0.5s left ease-in-out,
    0.5s box-shadow ease-in-out;
}

.movie-card .movie-card-content h3 {
  text-align: center;
}

.movie-card .movie-card-content .movie-genres {
  font-size: bold;
}

.movie-card .movie-card-content .movie-genres ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.movie-card .movie-card-content .movie-genres ul li {
  margin-left: 20px;
}

/* genre icons  */
.movie-card .movie-card-content .movie-genres ul li::before {
  content: ' ';
  display: inline-block;
  background-image: url('../../assets/film-roll.svg');
  background-size: contain;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.movie-card .movie-card-content .movie-description p s {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .movie-card {
    margin: 2vmin 0;
    width: 48vw;
    margin-bottom: 8vmin;
    font-size: calc(9px + 1.5vmin);
  }
}

@media only screen and (min-width: 1200px) {
  .movie-card {
    margin: 2vmin 0;
    width: 31vw;
    margin-bottom: 8vmin;
    font-size: calc(8px + 0.8vmin);
  }

  .movie-card .movie-card-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  /* 3D-like  effect on hover for cards for desktops */
  .movie-card:hover .movie-card-content {
    top: -2vmin;
    left: -2vmin;
    box-shadow: 2vmin 2vmin 2vmin darkgreen;
    transition: 0.1s top ease-in-out, 0.1s left ease-in-out,
      0.1s box-shadow ease-in-out;
  }
}
