.movie-card {
  position: relative;
  margin: 5px;
  font-size: calc(10px + 2vmin);
}

.movie-card .movie-card-content {
  background: lightgreen;
  color: darkblue;
  padding: 2vh;
  position: relative;
  text-align: left;
  top: 0;
  left: 0;
  border-radius: 3vmin;
  border: 1px black solid;
  box-shadow: 0 0 0 darkgray;
  transition: 0.5s top ease-in-out, 0.5s left ease-in-out,
    0.5s box-shadow ease-in-out;
}

.movie-card .movie-card-content h3 {
  text-align: center;
}

.movie-card:hover .movie-card-content {
  top: -5px;
  left: -5px;
  box-shadow: 5px 5px 5px darkgray;
  transition: 0.2s top ease-in-out, 0.2s left ease-in-out,
    0.2s box-shadow ease-in-out;
}

.movie-card .movie-card-content .movie-genres {
  font-size: bold;
}

.movie-card .movie-card-content .movie-genres ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.movie-card .movie-card-content .movie-genres ul li {
  margin-left: 20px;
}

.movie-card .movie-card-content .movie-genres ul li::before {
  content: ' ';
  display: inline-block;
  background-image: url('../../assets/film-roll.svg');
  background-size: contain;
  width: 1rem;
  height: 1rem;
}

.movie-card .movie-card-content .movie-description p s {
  font-style: italic;
}

@media only screen and (min-width: 768px) {
  .movie-card {
    width: 30%;
    margin-bottom: 8vmin;
  }
}
