.movie-filters {
  font-size: calc(10 px + 1.5vmin);
  background: lightcyan;
  padding: 2vmin;
}

.movie-filters .movie-filters-genres {
  display: flex;
  flex-wrap: wrap;
}

.movie-filters input[type='number'] {
  outline: none;
  text-align: right;
  width: 7vmin;
  zoom: 2;
}
