.app {
  text-align: center;
  min-height: 100vh;
}

.app-logo {
  width: 20%;
  height: 25vmin;
  background-image: url('./assets/film-roll.svg');
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: contain;
  animation: app-logo-roll infinite 25s linear;
  pointer-events: none;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

/* giving second rolling film opposite direction */
.app-logo:last-child {
  animation-direction: reverse;
}

.app-header {
  background-color: lightyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2.5vmin);
}

.app-header h1 {
  margin: 0;
}

/* rolling film effect */
@keyframes app-logo-roll {
  from {
    background-position-y: -10000%;
  }
  to {
    background-position-y: 0%;
  }
}

@media only screen and (min-width: 768px) {
  .app-logo {
    background-size: 100%;
    height: 40vmin;
    animation: app-logo-roll infinite 20s linear;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
