.app {
  text-align: center;
  min-height: 100vh;
}

.app-logo {
  width: 20%;
  height: 25vmin;
  background-image: url('./assets/film-roll.svg');
  background-repeat: repeat-y;
  background-position-x: center;
  background-size: contain;
  animation: app-logo-run infinite 25s linear;
  pointer-events: none;
}

.mobile-only {
  display: block;
}

.desktop-only {
  display: none;
}

.app-logo:last-child {
  animation-direction: reverse;
}

.app-header {
  background-color: lightyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2.5vmin);
}

.app-header h1 {
  margin: 0;
}

.movie-list {
  padding: 1vmin;
  background: lightseagreen;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

@keyframes app-logo-run {
  from {
    background-position-y: -10000%;
  }
  to {
    background-position-y: 0%;
  }
}

@media only screen and (min-width: 768px) {
  .app-logo {
    background-size: cover;
    height: 40vmin;
    animation: app-logo-run infinite 40s linear;
  }

  .movie-list {
    flex-direction: row;
    align-items: stretch;
  }

  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: block;
  }
}
